---
import Card from "../Card.astro";
---

<Card
    class="col-span-1 md:col-span-4 md:row-span-1 bg-white/[0.02] p-0 overflow-hidden"
>
    <div class="flex items-center justify-center h-full w-full p-4">
        <div class="flex flex-wrap justify-center gap-x-10 gap-y-4">
            <a
                href="https://linkedin.com"
                target="_blank"
                class="text-gray-500 hover:text-dotnet transition-colors font-black uppercase text-[11px] md:text-[12px] tracking-[0.2em]"
                >LinkedIn</a
            >
            <a
                href="https://github.com"
                target="_blank"
                class="text-gray-500 hover:text-white transition-colors font-black uppercase text-[11px] md:text-[12px] tracking-[0.2em]"
                >GitHub</a
            >
            <a
                href="mailto:kacper.smaga@onet.pl"
                class="text-gray-500 hover:text-dotnet transition-colors font-black uppercase text-[11px] md:text-[12px] tracking-[0.2em] italic"
                >Email</a
            >
        </div>
    </div>
</Card>
