---
// src/components/Card.astro
const { class: className, id } = Astro.props;
---

<div
    id={id}
    class={`
        relative group overflow-hidden
        bg-bento-bg border border-bento-border rounded-[2.5rem] 
        p-8 transition-all duration-300 ease-out
     hover:border-dotnet/50 
        hover:shadow-[0_0_40px_-15px_rgba(81,43,212,0.4)]
        ${className}
    `}
>
    <div
        class="absolute -inset-px bg-gradient-to-br from-dotnet/5 via-transparent to-astro/5 opacity-0 group-hover:opacity-100 transition-opacity duration-500"
    >
    </div>

    <div class="relative z-10 h-full flex flex-col">
        <slot />
    </div>
</div>
